<div class="header-options right clearfix">               
    <div class="login-options right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
               <a href="{{ path('fos_user_profile_show') }}" class="button">
                <span class="button-icon register"></span>Minha Conta                          
            </a>
        {% else %}                                    
        <div class="button-wrap left login-button">
            <a href="{{ path('fos_user_security_login') }}" class="button dark"><span class="button-icon login"></span>Logar</a>
            
            
        </div>
        <div class="button-wrap left">
            <a href="{{ path('fos_user_registration_register') }}" class="button">
                <span class="button-icon register"></span>Registro                          
            </a>
        </div>
        {% endif %}
    </div>
    <!-- /login options                                     
    <div class="search-form right">
        <form role="search" method="GET" action="http://projetofinal.dev/">
            <input type="text" value="" name="s" />
        </form>                     
    </div>                       
    /search form -->
</div>
<!-- /header options -->
                    <div class="mobile-search-form">
                        <form role="search" method="GET" action="http://projetofinal.dev/">
                            <input type="text" value="" name="s" />
                        </form>                 
                    </div>
                    <!-- /mobile search form -->
                    <nav class="header-navigation right">
                        <div class="menu"><ul id="menu-main-menu" class="menu"><li id="menu-item-2146" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2129 current_page_item menu-item-2146"><a href="{{ path('aula_frontend_homepage') }}">Home</a></li>
<li id="menu-item-2138" class="menu-item menu-item-type-taxonomy menu-item-object-course_category menu-item-2138"><a href="{{ path('aula_frontend_classes') }}">Aulas</a></li>
<li id="menu-item-2131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2131"><a href="http://projetofinal.dev/?page_id=2112">Planos</a></li>
<li id="menu-item-2133" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2133"><a href="http://projetofinal.dev/?cat=2">Notícias</a></li>
<li id="menu-item-2130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2130"><a href="http://projetofinal.dev/?page_id=183">Sobre</a></li>
<li id="menu-item-2154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2154"><a href="http://projetofinal.dev/?page_id=601">Ajuda</a></li>
</ul></div>                     
                        <div class="select-menu">
                            <span></span>
                            <select><option value="http://projetofinal.dev/">Home</option><option value="http://projetofinal.dev/?course_category=all">Aulas</option><option value="http://projetofinal.dev/?page_id=2112">Planos</option><option value="http://projetofinal.dev/?cat=2">Notícias</option><option value="http://projetofinal.dev/?page_id=183">Sobre</option><option value="http://projetofinal.dev/?page_id=601">Ajuda</option></select>                           
                        </div>
                        <!--/ select menu-->
                    </nav>
                    <!-- /navigation -->   