{% extends '::base.html.twig' %}

{% block body %}
{% trans_default_domain 'FOSUserBundle' %}
<script type="text/javascript">

$(document).ready(function () {



	$("#form").validate({
			

		});

});

</script>
<div class="row">
	<div class="twelvecol column ">
	<h3>Cadastre-se agora!</h3>
		<form action="{{ path('fos_user_registration_register') }}" id="form" {{ form_enctype(form) }} method="POST" class="new_entity_factories_free_entity_factory" novalidate>
	    	{{ form_errors(form) }}
	    	{{ form_row(form._token) }} 
	 
		    <div class="inputLabel">
		    	
		    	
				{{ form_widget(form.name, { 'attr': {'class': 'rounder', 'placeholder': 'Nome Completo' } }) }}
				{% if (form.name.vars.errors|length > 0) %}
		    		<div class="alert">
						<p class="alert-text">{{ form.name.vars.errors[0].message }}</p>
					</div>
		    	{% endif %}
			</div>

			<div class="inputLabel">
		    	
		    	
				{{ form_widget(form.type, { 'attr': {'class': 'rounder', 'placeholder': 'Tipo' } }) }}
				{% if (form.type.vars.errors|length > 0) %}
		    		<div class="alert">
						<p class="alert-text">{{ form.type.vars.errors[0].message }}</p>
					</div>
		    	{% endif %}
			</div>

			<div class="inputLabel">
		    	
		    	
				{{ form_widget(form.grade, { 'attr': {'class': 'rounder', 'placeholder': 'Tipo' } }) }}
				{% if (form.grade.vars.errors|length > 0) %}
		    		<div class="alert">
						<p class="alert-text">{{ form.grade.vars.errors[0].message }}</p>
					</div>
		    	{% endif %}
			</div>
			<br />

			<div class="inputLabel">
		    	
		    	
				{{ form_widget(form.file, { 'attr': {'class': 'rounder', 'placeholder': 'Tipo' } }) }}
				{% if (form.file.vars.errors|length > 0) %}
		    		<div class="alert">
						<p class="alert-text">{{ form.file.vars.errors[0].message }}</p>
					</div>
		    	{% endif %}
			</div>

			<br />

			<div class="inputLabel">
		    	
		    	
				{{ form_widget(form.price, { 'attr': {'class': 'rounder', 'placeholder': 'Preço' } }) }}
				{% if (form.price.vars.errors|length > 0) %}
		    		<div class="alert">
						<p class="alert-text">{{ form.price.vars.errors[0].message }}</p>
					</div>
		    	{% endif %}
			</div>

			<div class="inputLabel">	
					
				{{ form_widget(form.username, { 'attr': {'class': 'rounder', 'placeholder': 'Apelido' }}) }}
				{% if (form.username.vars.errors|length > 0) %}
		    		<div class="alert">
						<p class="alert-text">{{ form.username.vars.errors[0].message }}</p>
					</div>
		    	{% endif %}
			</div>

			<div class="inputLabel">
				
				{{ form_widget(form.email, { 'attr': {'class': 'rounder', 'placeholder': form.email.vars.label }}) }}
				{% if (form.email.vars.errors|length > 0) %}
		    		<div class="alert">
						<p class="alert-text">{{ form.email.vars.errors[0].message }}</p>
					</div>
		    	{% endif %}
			</div>

			{% for passwordField in form.plainPassword %}
			    <div class="inputLabel">
			    	
			        {{ form_widget(passwordField, { 'attr': {'class': 'rounder', 'placeholder': passwordField.vars.label }}) }}
			        {% if (passwordField.vars.errors|length > 0) %}
		    			<div class="alert">
							<p class="alert-text">{{ passwordField.vars.errors[0].message }}</p>
						</div>
		    		{% endif %}
			        
			        
			    </div>
			{% endfor %}

			<div class="inputLabel">	
					
				{{ form_widget(form.about, { 'attr': {'class': 'rounder', 'placeholder': 'Sobre Você' }}) }}
				{% if (form.about.vars.errors|length > 0) %}
		    		<div class="alert">
						<p class="alert-text">{{ form.about.vars.errors[0].message }}</p>
					</div>
		    	{% endif %}
			</div>


			<div class="inputLabel">	
					
				{{ form_widget(form.about_course, { 'attr': {'class': 'rounder', 'placeholder': 'Sobre o Curso' }}) }}
				{% if (form.about_course.vars.errors|length > 0) %}
		    		<div class="alert">
						<p class="alert-text">{{ form.about_course.vars.errors[0].message }}</p>
					</div>
		    	{% endif %}
			</div>


			
		

		    <div>
		        <input class="ButtonRegister" type="submit" value="Cadastre-se. É grátis!" />
		    </div>
		</form>
	</div>
</div>
{% endblock %}