{% extends '::base.html.twig' %}

{% block featuredcontent %}
<div class="substrate">
	<img src="http://templateprojeto/wp-content/themes/academy/images/bgs/site_bg.jpg" class="fullwidth" alt="" />
</div>
<div class="row">
	<div class="page-title">
		<h1 class="nomargin">Aulas</h1>
	</div>
</div>
				
{% endblock %}
{% block body %}
<div class="row">
	<div class="fullwidth-section">
		<div class="courses-listing clearfix">
			{% for teacher in teachers %}
			<div class="column threecol {% if loop.index is divisibleby(4) %}last{% endif %} ">
				<div class="course-preview free-course">
					<div class="course-image">
						<a href="{{ path('aula_frontend_view_teacher', { 'id': teacher.id }) }}"><img width="420" height="420" src="{{ asset(teacher.pic) }}" class="attachment-normal wp-post-image" alt="image_45" /></a>
						<div class="course-price product-price">
							<div class="price-text">R$ {{ teacher.price }},00</div>
							<div class="corner-wrap">
								<div class="corner"></div>
								<div class="corner-background"></div>
							</div>			
						</div>
					</div>
					<div class="course-meta">
						<header class="course-header">
							<h5 class="nomargin"><a href="{{ path('aula_frontend_view_teacher', { 'id': teacher.id }) }}">
								{{ teacher.grade }}
							</a></h5>
							<a href="{{ path('aula_frontend_view_teacher', { 'id': teacher.id }) }}" class="author">{{ teacher.name|capitalize }}</a>
						</header>
						<footer class="course-footer clearfix">
							<div class="course-users left">
								12			
							</div>
							<div class="course-rating rating-form">
								<div data-score="4" data-readonly="true"></div>
							</div>
						</footer>
					</div>
				</div>		
			</div>
			{% endfor %}
			
			
		</div>
	</div>
</div>	


			
	

{% endblock %}