{% if user.type == 'aluno' %}
	{% for schedule in schedules %}
		<p><strong>Solicitação nº {{ loop.index }}</strong></p>
		<p>Professor: <a href="{{ path('aula_frontend_view_teacher', { 'id': schedule.teacher.id }) }}">{{ schedule.teacher.name }}</a></p>
		<p>Matéria: {{ schedule.teacher.grade.name }}</p>
		<p>Data: {{ schedule.classAt|date('d/m/Y h:m' )}}</p>
		<p>Status: 
		{% if schedule.status == "waiting" %}
			Aguardando resposta do professor
		{% elseif schedule.status == "refused" %}
			Sua solicitação foi recusada!
		{% elseif schedule.status == "accepted" %}
			
			{% if "now"|date('d/m/Y') == schedule.classAt|date('d/m/Y') %}
			Solicitação aceita!<br />
			<a href="{{ path('aula_start', { 'id': schedule.id }) }}" class="button medium price-button left">Iniciar Aula</a><br />
			{% elseif "now"|date('d/m/Y') > schedule.classAt|date('d/m/Y') %}
				Aula expirada!<br /> 
				Favor reagendar com seu professor.
			{% else %}
				Solicitação aceita!<br />

				Aguarde o dia para poder ter sua aula!
			{% endif %}
		{% elseif schedule.status == "finished" %}
			Aula finalizada com sucesso!<br />
			<a href="{{ path('rating_new', { 'teacher': schedule.teacher.id, 'class': schedule.id }) }}" class="button medium price-button left">Avaliar Aula</a><br />
			
		{% endif %}
		</p>

		<hr>

	{% else %}
		Você não tem nenhuma requisição de aula ainda!
	{% endfor %}
{% else %}
	{% for schedule in schedules %}
		<p><strong>Solicitação nº {{ loop.index }}</strong></p>
		<p>Aluno: {{ schedule.student.name }}</p>
		<p>Data: {{ schedule.classAt|date('d/m/Y h:m' )}}</p>
		<p>Status: 
		{% if schedule.status == "waiting" %}
			<a href="{{ path('aula_frontend_accept', { 'id': schedule.id, 'accept': 1 } ) }}">Aceitar</a> | <a href="{{ path('aula_frontend_accept', { 'id': schedule.id, 'accept': 0 } ) }}">Recusar</a>
		{% elseif schedule.status == "refused" %}
			Sua solicitação foi recusada!
		{% elseif schedule.status == "accepted" %}
			{% if "now"|date('d/m/Y') == schedule.classAt|date('d/m/Y') %}
			Solicitação aceita!<br />
			<a href="{{ path('aula_start', { 'id': schedule.id }) }}" class="button medium price-button left">Iniciar Aula</a><br />
			{% elseif "now"|date('d/m/Y') > schedule.classAt|date('d/m/Y') %}
				Aula expirada!<br /> 
			{% else %}
				Solicitação aceita!<br />

				Aguarde o dia para poder dar sua aula!
			{% endif %}
		{% elseif schedule.status == "finished" %}
			Aula finalizada com sucesso!<br />			
		{% endif %}
		</p>

		<hr>

	{% else %}
		Você não tem nenhuma requisição de aula ainda!
	{% endfor %}
{% endif %}
